.buttonClass{
    border:solid black 2px;
    padding:10px;
    color: black;
    background-color: whitesmoke;
    border-radius: 3px;
}

.activetab{
    background-color: lightblue;
}

.unactivetab{
    background-color: whitesmoke;
}
.tabcontainer{
    display:flex;
    
}

