.show-container{
  display: flex;
  box-shadow: rgba(146, 116, 255, 0.9) 0px 2px 5px;
  margin:9px;
}

.show-container-left{
  display: flex;
  flex: 60%;
  /* border: 1px solid black; */
  box-shadow: rgba(153, 149, 165, 0.9) 0px 3px 8px;
  margin:5px;
  justify-content: center;
  align-items: center;
}

.show-container-right{
  display: flex;
  flex:20%;
  /* border: 1px solid black; */
  box-shadow: rgba(153, 149, 165, 0.9) 0px 3px 8px;
  margin:5px;
  justify-content: center;
  align-items: center;
}

.details{
  width: 100%;
  padding-left: 20px;
  font-size: 1rem;
}

.remove-button{
 background-color: white;
 padding:5px;
 color: darkblue;
 margin-top: 10px;
}
