.show-container{
  display: flex;
  box-shadow: rgba(105, 94, 146, 0.9) 0px 2px 5px;
  margin:6px
}

.show-container-left{
  display: flex;
  flex: 60%;
  /* border: 1px solid black; */
  box-shadow: rgba(153, 149, 165, 0.9) 0px 3px 8px;
  margin:5px
}

.show-container-right{
  display: flex;
  flex:20%;
  /* border: 1px solid black; */
  box-shadow: rgba(153, 149, 165, 0.9) 0px 3px 8px;
  margin:5px
}

.details{
  width: 100%;
  padding-left: 20px;
  font-size: 1rem;
}

.remove-button{
 background-color: white;
 padding:5px;
 color: darkblue;
 margin-top: 10px;
}
